<div ng-controller="UWController">

  <div class="search-container">
    <span class="search">Search:</span>
    <input type="text" ng-model="searchText">
  </div>

  <table>
    <thead>
      <tr>
        <th ng-repeat="header in headers" class="{{header.short}}" ng-click="sortTable(header)" ng-class="{clickable: header.short !== 'offers', down: selected == header && sortOrder == -1, up: selected == header && sortOrder == 1, selected: header == selected}">{{header.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="recruit in recruits | filter:searchText">
        <td class="name">{{recruit.first}} {{recruit.last}}</td>
        <td class="position">{{recruit.position}}</td>
        <td class="school">{{recruit.school}}</td>
        <td class="commitment">{{recruit.commitment}}</td>
        <td class="offers">{{recruit.offers}}</td>
        <td class="ranking">
          <div ng-if="recruit.rivals">{{recruit.rivals}} (Rivals)</div>
          <div ng-if="recruit.scout">{{recruit.scout}} (Scout)</div>
        </td>
      </tr>
      <tr class="no-results">
        <td colspan=100>No results found
      </tr>
    </tbody>
  </table>

  <div class="divider"></div>
</div>
