<div ng-controller="UWController">

  <div class="search-container">
    <span class="search">Search:</span>
    <input type="text" ng-model="searchText">
  </div>

  <table class="tracker">
    <thead>
      <tr>
        <th ng-repeat="header in headers" class="{{header.short}}" ng-click="sortTable(header)" ng-class="{clickable: header.short !== 'offers', down: selected == header && sortOrder == -1, up: selected == header && sortOrder == 1, selected: header == selected}">{{header.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="recruit in recruits | filter:searchText">
        <td class="name">{{recruit.uwfirstname}} {{recruit.uwlastname}}</td>
        <td class="position">{{recruit.uwposition}}</td>
        <td class="stars">{{recruit.uwstars}}</td>
        <td class="height">{{recruit.uwheight}}</td>
        <td class="weight">{{recruit.uwweight}}</td>
        <td class="school">{{recruit.uwschool}}</td>
        <td class="hometown">{{recruit.uwhometown}}</td>
        <td class="signed">???</td>
        <td class="enrolled">????</td>
      </tr>
      <tr class="no-results">
        <td colspan=100>No results found
      </tr>
    </tbody>
  </table>

  <div class="divider"></div>
</div>
