<div ng-controller="WSUController">

  <div class="search-container">
    <span class="search">Search:</span>
    <input type="text" ng-model="searchText">
  </div>

  <table class="tracker">
    <thead>
      <tr>
        <th ng-repeat="header in headers" class="{{header.short}}" ng-click="sortTable(header)" ng-class="{clickable: header.short !== 'offers', down: selected == header && sortOrder == -1, up: selected == header && sortOrder == 1, selected: header == selected}">{{header.title}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="recruit in recruits | filter:searchText">
        <td class="name">{{recruit.wsufirstname}} {{recruit.wsulastname}}</td>
        <td class="position">{{recruit.wsuposition}}</td>
        <td class="stars">{{recruit.wsustars}}</td>
        <td class="height">{{recruit.wsuheight}}</td>
        <td class="weight">{{recruit.wsuweight}}</td>
        <td class="school">{{recruit.wsuschool}}</td>
        <td class="hometown">{{recruit.wsuhometown}}</td>
        <td class="signed">???</td>
        <td class="enrolled">????</td>
      </tr>
      <tr class="no-results">
        <td colspan=100>No results found
      </tr>
    </tbody>
  </table>

  <div class="divider"></div>
</div>
